In [1]:
print('welcome')

welcome

In [7]:
from sklearn.preprocessing import LabelEncoder
import numpy as np
import pandas as pd

In [8]:
data = pd.Series(['apple', 'summer', 'spring'])
data

0     apple
1    summer
2    spring
dtype: object

In [9]:
encoder = LabelEncoder()

In [10]:
encoder.fit(data) # 시리즈의 값들이 카테고리 성격을 가진다.

LabelEncoder()

In [11]:
target = pd.Series(['apple', 'summer', 'summer', 'spring', 'spring']) # 라벨링 필요
target

0     apple
1    summer
2    summer
3    spring
4    spring
dtype: object

In [13]:
encoder.transform(target)

array([0, 2, 2, 1, 1])

In [8]:
type(target)

pandas.core.series.Series

In [7]:
target2 = encoder.transform(target)
target2

array([0, 2, 2, 1, 1])

In [9]:
type(target2) # 1차원 배열

numpy.ndarray

In [10]:
### one hot encoding ###

In [12]:
data2 = pd.Series(['apple', 'summer', 'summer', 'spring', 'spring'])
data2
# series: index + values

0     apple
1    summer
2    summer
3    spring
4    spring
dtype: object

In [13]:
data3 = pd.get_dummies(data2) # data2는 dataframe이라면 해당 dataframe의 column자리
data3

   apple  spring  summer
0      1       0       0
1      0       0       1
2      0       0       1
3      0       1       0
4      0       1       0

In [14]:
### 2개 column 이상 label encoding ###

In [15]:
words = pd.Series(['apple', 'summer', 'summer', 'spring', 'spring'])
hobby = pd.Series(['book', 'run', 'talk', 'coffee', 'song'])

In [16]:
df = pd.DataFrame({"words": words, "hobby": hobby})
df

    words   hobby
0   apple    book
1  summer     run
2  summer    talk
3  spring  coffee
4  spring    song

In [17]:
columns = df.columns
columns

Index(['words', 'hobby'], dtype='object')

In [19]:
encoder2 = LabelEncoder()

In [20]:
for col in columns:
    df[col] = encoder2.fit_transform(df[col])

In [22]:
df2 = pd.DataFrame({"words": ['apple', 'summer', 'summer', 'spring', 'spring'],
                   "hobby": ['book', 'run', 'talk', 'coffee', 'song']})
df2

    words   hobby
0   apple    book
1  summer     run
2  summer    talk
3  spring  coffee
4  spring    song

In [23]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   words   5 non-null      object
 1   hobby   5 non-null      object
dtypes: object(2)
memory usage: 208.0+ bytes

In [25]:
pd.get_dummies(df2['words'])

   apple  spring  summer
0      1       0       0
1      0       0       1
2      0       0       1
3      0       1       0
4      0       1       0

In [26]:
df2['words'] = df2['words'].astype('category')
df2['hobby'] = df2['hobby'].astype('category')

In [27]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   words   5 non-null      category
 1   hobby   5 non-null      category
dtypes: category(2)
memory usage: 482.0 bytes

In [29]:
df2 = pd.get_dummies(df2)
df2

,words_apple,words_spring,words_summer,hobby_book,hobby_coffee,hobby_run,hobby_song,hobby_talk
0,1,0,0,1,0,0,0,0
1,0,0,1,0,0,1,0,0
2,0,0,1,0,0,0,0,1
3,0,1,0,0,1,0,0,0
4,0,1,0,0,0,0,1,0

In [30]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   words_apple   5 non-null      uint8
 1   words_spring  5 non-null      uint8
 2   words_summer  5 non-null      uint8
 3   hobby_book    5 non-null      uint8
 4   hobby_coffee  5 non-null      uint8
 5   hobby_run     5 non-null      uint8
 6   hobby_song    5 non-null      uint8
 7   hobby_talk    5 non-null      uint8
dtypes: uint8(8)
memory usage: 168.0 bytes