In [5]:
# !pip install mlxtend

In [6]:
import mlxtend # apriori 알고리즘 관련 라이브러리

In [7]:
import numpy as np
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

In [8]:
data = np.array([
    ['우유', '기저귀', '쥬스'],
    ['양상추', '기저귀', '맥주'],
    ['우유', '양상추', '기저귀', '쥬스'],
    ['양상추', '맥주']
])

In [9]:
# one hot encoding library
from mlxtend.preprocessing import TransactionEncoder

In [10]:
te = TransactionEncoder()

In [11]:
te_ary = te.fit(data).transform(data)
te_ary

array([[ True, False, False,  True,  True],
       [ True,  True,  True, False, False],
       [ True, False,  True,  True,  True],
       [False,  True,  True, False, False]])

In [12]:
te.columns_

['기저귀', '맥주', '양상추', '우유', '쥬스']

In [13]:
df = pd.DataFrame(te_ary, columns=te.columns_)
df

     기저귀     맥주    양상추     우유     쥬스
0   True  False  False   True   True
1   True   True   True  False  False
2   True  False   True   True   True
3  False   True   True  False  False

In [14]:
from mlxtend.frequent_patterns import apriori

apriori(df, min_support=0.5, use_colnames=True)

    support       itemsets
0      0.75          (기저귀)
1      0.50           (맥주)
2      0.75          (양상추)
3      0.50           (우유)
4      0.50           (쥬스)
5      0.50     (양상추, 기저귀)
6      0.50      (우유, 기저귀)
7      0.50      (쥬스, 기저귀)
8      0.50      (양상추, 맥주)
9      0.50       (쥬스, 우유)
10     0.50  (쥬스, 우유, 기저귀)