In [74]:
import seaborn as sns
import pandas as pd
import numpy as np

In [75]:
# 내장 데이터
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'exercise',
 'flights',
 'fmri',
 'gammas',
 'geyser',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'taxis',
 'tips',
 'titanic']

In [76]:
titanic = sns.load_dataset('titanic')

In [77]:
titanic

     survived  pclass     sex   age  ...  deck  embark_town  alive  alone
0           0       3    male  22.0  ...   NaN  Southampton     no  False
1           1       1  female  38.0  ...     C    Cherbourg    yes  False
2           1       3  female  26.0  ...   NaN  Southampton    yes   True
3           1       1  female  35.0  ...     C  Southampton    yes  False
4           0       3    male  35.0  ...   NaN  Southampton     no   True
..        ...     ...     ...   ...  ...   ...          ...    ...    ...
886         0       2    male  27.0  ...   NaN  Southampton     no   True
887         1       1  female  19.0  ...     B  Southampton    yes   True
888         0       3  female   NaN  ...   NaN  Southampton     no  False
889         1       1    male  26.0  ...     C    Cherbourg    yes   True
890         0       3    male  32.0  ...   NaN   Queenstown     no   True

[891 rows x 15 columns]

In [79]:
# 필요한 데이터 추출
df = titanic[['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare', 'alone']]
df

     survived  pclass     sex   age  sibsp  parch     fare  alone
0           0       3    male  22.0      1      0   7.2500  False
1           1       1  female  38.0      1      0  71.2833  False
2           1       3  female  26.0      0      0   7.9250   True
3           1       1  female  35.0      1      0  53.1000  False
4           0       3    male  35.0      0      0   8.0500   True
..        ...     ...     ...   ...    ...    ...      ...    ...
886         0       2    male  27.0      0      0  13.0000   True
887         1       1  female  19.0      0      0  30.0000   True
888         0       3  female   NaN      1      2  23.4500  False
889         1       1    male  26.0      0      0  30.0000   True
890         0       3    male  32.0      0      0   7.7500   True

[891 rows x 8 columns]

In [80]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   survived  891 non-null    int64
 1   pclass    891 non-null    int64
 2   sex       891 non-null    object
 3   age       714 non-null    float64
 4   sibsp     891 non-null    int64
 5   parch     891 non-null    int64
 6   fare      891 non-null    float64
 7   alone     891 non-null    bool
dtypes: bool(1), float64(2), int64(4), object(1)
memory usage: 49.7+ KB

In [81]:
# 데이터 전처리 - 1. 결측치 제거
df1 = df.dropna(axis=0)
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 714 entries, 0 to 890
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   survived  714 non-null    int64
 1   pclass    714 non-null    int64
 2   sex       714 non-null    object
 3   age       714 non-null    float64
 4   sibsp     714 non-null    int64
 5   parch     714 non-null    int64
 6   fare      714 non-null    float64
 7   alone     714 non-null    bool
dtypes: bool(1), float64(2), int64(4), object(1)
memory usage: 45.3+ KB

In [91]:
# 데이터 전처리 - 2. string => 숫자로 변환
df1.loc[:, 'sex'] = df1.loc[:, 'sex'].apply(lambda x: x.replace('female', '1'))
df1.loc[:, 'sex'] = df1.loc[:, 'sex'].apply(lambda x: x.replace('male', '0'))
df1['sex'] = df1['sex'].astype(int)

df1['alone'] = df1['alone'].astype(int)

df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 714 entries, 0 to 890
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   survived  714 non-null    int64
 1   pclass    714 non-null    int64
 2   sex       714 non-null    int64
 3   age       714 non-null    float64
 4   sibsp     714 non-null    int64
 5   parch     714 non-null    int64
 6   fare      714 non-null    float64
 7   alone     714 non-null    int64
dtypes: float64(2), int64(6)
memory usage: 70.2 KB

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [92]:
df1

     survived  pclass  sex   age  sibsp  parch     fare  alone
0           0       3    0  22.0      1      0   7.2500      0
1           1       1    1  38.0      1      0  71.2833      0
2           1       3    1  26.0      0      0   7.9250      1
3           1       1    1  35.0      1      0  53.1000      0
4           0       3    0  35.0      0      0   8.0500      1
..        ...     ...  ...   ...    ...    ...      ...    ...
885         0       3    1  39.0      0      5  29.1250      0
886         0       2    0  27.0      0      0  13.0000      1
887         1       1    1  19.0      0      0  30.0000      1
889         1       1    0  26.0      0      0  30.0000      1
890         0       3    0  32.0      0      0   7.7500      1

[714 rows x 8 columns]

In [154]:
# 문제데이터, 정답데이터
from sklearn.model_selection import train_test_split

x_data = df1.loc[:, 'pclass':'alone'] # 문제데이터
y_data = df1.loc[:, 'survived'] # 정답데이터

X_train, X_test, y_train, y_test = train_test_split(        
    x_data, # 문제데이터
    y_data, # 정답데이터
    test_size = 0.2, # 비율 (train:test) = 8:2
    shuffle = True, # 셔플링여부
    random_state = 20 # 시드값
)

X_train, X_test, y_train, y_test

(     pclass  sex   age  sibsp  parch      fare  alone
 833       3    0  23.0      0      0    7.8542      1
 218       1    1  32.0      0      0   76.2917      1
 272       2    1  41.0      0      1   19.5000      0
 537       1    1  30.0      0      0  106.4250      1
 314       2    0  43.0      1      1   26.2500      0
 ..      ...  ...   ...    ...    ...       ...    ...
 271       3    0  25.0      0      0    0.0000      1
 278       3    0   7.0      4      1   29.1250      0
 338       3    0  45.0      0      0    8.0500      1
 600       2    1  24.0      2      1   27.0000      0
 442       3    0  25.0      1      0    7.7750      0

 [571 rows x 7 columns],      pclass  sex   age  sibsp  parch     fare  alone
 526       2    1  50.0      0      0  10.5000      1
 427       2    1  19.0      0      0  26.0000      1
 635       2    1  28.0      0      0  13.0000      1
 726       2    1  30.0      3      0  21.0000      0
 145       2    0  19.0      1      1  36.7500      0
 ..      ...  ...   ...    ...    ...      ...    ...
 624       3    0  21.0      0      0  16.1000      1
 747       2    1  30.0      0      0  13.0000      1
 150       2    0  51.0      0      0  12.5250      1
 421       3    0  21.0      0      0   7.7333      1
 704       3    0  26.0      1      0   7.8542      0

 [143 rows x 7 columns], 833    0
 218    1
 272    1
 537    1
 314    0
       ..
 271    1
 278    0
 338    1
 600    1
 442    0
 Name: survived, Length: 571, dtype: int64, 526    1
 427    1
 635    1
 726    1
 145    0
       ..
 624    0
 747    1
 150    0
 421    0
 704    0
 Name: survived, Length: 143, dtype: int64)

In [155]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((571, 7), (143, 7), (571,), (143,))

In [156]:
# 학습법1. KNN
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier(n_neighbors=5) # hyper parameter 설정

knn.fit(X_train, y_train) # 학습, 정답

pred = knn.predict(X_test) # 모의고사
pred

array([0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1,
       1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0,
       1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0,
       0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0])

In [157]:
# 정확도 측정
from sklearn.metrics import accuracy_score

jumsu = accuracy_score(y_test, pred)
jumsu

0.7412587412587412

In [161]:
# 학습법2. SVM
from sklearn.svm import SVC

# svc = SVC(kernel='rbf') => 0.65
svc = SVC(kernel='linear')

svc.fit(X_train, y_train)

pred2 = svc.predict(X_test)
# pred2

jumsu2 = accuracy_score(y_test, pred2)
jumsu2

0.7902097902097902