In [ ]:
import pandas as pd
pd.__version__

'1.1.5'

In [ ]:
import warnings
warnings.filterwarnings(action='ignore')

# train data preprocessing

In [ ]:
train_df = pd.read_csv('/content/ratings_train.txt', encoding='utf8', sep='\t')
train_df

              id                                           document  label
0        9976970                                아 더빙.. 진짜 짜증나네요 목소리      0
1        3819312                  흠...포스터보고 초딩영화줄....오버연기조차 가볍지 않구나      1
2       10265843                                  너무재밓었다그래서보는것을추천한다      0
3        9045019                      교도소 이야기구먼 ..솔직히 재미는 없다..평점 조정      0
4        6483659  사이몬페그의 익살스런 연기가 돋보였던 영화!스파이더맨에서 늙어보이기만 했던 커스틴 ...      1
...          ...                                                ...    ...
149995   6222902                                인간이 문제지.. 소는 뭔죄인가..      0
149996   8549745                                      평점이 너무 낮아서...      1
149997   9311800                    이게 뭐요? 한국인은 거들먹거리고 필리핀 혼혈은 착하다?      0
149998   2376369                        청춘 영화의 최고봉.방황과 우울했던 날들의 자화상      1
149999   9619869                           한국 영화 최초로 수간하는 내용이 담긴 영화      0

[150000 rows x 3 columns]

In [ ]:
# info
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   id        150000 non-null  int64
 1   document  149995 non-null  object
 2   label     150000 non-null  int64
dtypes: int64(2), object(1)
memory usage: 3.4+ MB

In [ ]:
# notnull 제거
train_df = train_df[train_df['document'].notnull()]
train_df

              id                                           document  label
0        9976970                                아 더빙.. 진짜 짜증나네요 목소리      0
1        3819312                  흠...포스터보고 초딩영화줄....오버연기조차 가볍지 않구나      1
2       10265843                                  너무재밓었다그래서보는것을추천한다      0
3        9045019                      교도소 이야기구먼 ..솔직히 재미는 없다..평점 조정      0
4        6483659  사이몬페그의 익살스런 연기가 돋보였던 영화!스파이더맨에서 늙어보이기만 했던 커스틴 ...      1
...          ...                                                ...    ...
149995   6222902                                인간이 문제지.. 소는 뭔죄인가..      0
149996   8549745                                      평점이 너무 낮아서...      1
149997   9311800                    이게 뭐요? 한국인은 거들먹거리고 필리핀 혼혈은 착하다?      0
149998   2376369                        청춘 영화의 최고봉.방황과 우울했던 날들의 자화상      1
149999   9619869                           한국 영화 최초로 수간하는 내용이 담긴 영화      0

[149995 rows x 3 columns]

In [ ]:
# label 0, 1 각각의 개수
train_df['label'].value_counts()

0    75170
1    74825
Name: label, dtype: int64

In [ ]:
# 규칙을 가지고 필터링해주는 라이브러리
import re

In [ ]:
# re.sub: 대체
# re.sub(r'[^ㄱ-ㅣ가-힣]+'): 정규식 필터링 - 한글 제외한 나머지 문자 공백으로 처리
train_df['document'] = train_df['document'].apply(lambda x: re.sub(r'[^ㄱ-ㅣ가-힣]+', "", x))

In [ ]:
train_df.head()

         id                                           document  label
0   9976970                                      아더빙진짜짜증나네요목소리      0
1   3819312                            흠포스터보고초딩영화줄오버연기조차가볍지않구나      1
2  10265843                                  너무재밓었다그래서보는것을추천한다      0
3   9045019                               교도소이야기구먼솔직히재미는없다평점조정      0
4   6483659  사이몬페그의익살스런연기가돋보였던영화스파이더맨에서늙어보이기만했던커스틴던스트가너무나도이...      1

# test data preprocessing

In [ ]:
test_df = pd.read_csv('/content/ratings_test.txt', encoding='utf8', sep='\t')
test_df

            id                                           document  label
0      6270596                                                굳 ㅋ      1
1      9274899                               GDNTOPCLASSINTHECLUB      0
2      8544678             뭐야 이 평점들은.... 나쁘진 않지만 10점 짜리는 더더욱 아니잖아      0
3      6825595                   지루하지는 않은데 완전 막장임... 돈주고 보기에는....      0
4      6723715  3D만 아니었어도 별 다섯 개 줬을텐데.. 왜 3D로 나와서 제 심기를 불편하게 하죠??      0
...        ...                                                ...    ...
49995  4608761          오랜만에 평점 로긴했네ㅋㅋ 킹왕짱 쌈뽕한 영화를 만났습니다 강렬하게 육쾌함      1
49996  5308387       의지 박약들이나 하는거다 탈영은 일단 주인공 김대희 닮았고 이등병 찐따 OOOO      0
49997  9072549                 그림도 좋고 완성도도 높았지만... 보는 내내 불안하게 만든다      0
49998  5802125     절대 봐서는 안 될 영화.. 재미도 없고 기분만 잡치고.. 한 세트장에서 다 해먹네      0
49999  6070594                                         마무리는 또 왜이래      0

[50000 rows x 3 columns]

In [ ]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        50000 non-null  int64
 1   document  49997 non-null  object
 2   label     50000 non-null  int64
dtypes: int64(2), object(1)
memory usage: 1.1+ MB

In [ ]:
# notnull 제거
test_df = test_df[test_df['document'].notnull()]
test_df

            id                                           document  label
0      6270596                                                굳 ㅋ      1
1      9274899                               GDNTOPCLASSINTHECLUB      0
2      8544678             뭐야 이 평점들은.... 나쁘진 않지만 10점 짜리는 더더욱 아니잖아      0
3      6825595                   지루하지는 않은데 완전 막장임... 돈주고 보기에는....      0
4      6723715  3D만 아니었어도 별 다섯 개 줬을텐데.. 왜 3D로 나와서 제 심기를 불편하게 하죠??      0
...        ...                                                ...    ...
49995  4608761          오랜만에 평점 로긴했네ㅋㅋ 킹왕짱 쌈뽕한 영화를 만났습니다 강렬하게 육쾌함      1
49996  5308387       의지 박약들이나 하는거다 탈영은 일단 주인공 김대희 닮았고 이등병 찐따 OOOO      0
49997  9072549                 그림도 좋고 완성도도 높았지만... 보는 내내 불안하게 만든다      0
49998  5802125     절대 봐서는 안 될 영화.. 재미도 없고 기분만 잡치고.. 한 세트장에서 다 해먹네      0
49999  6070594                                         마무리는 또 왜이래      0

[49997 rows x 3 columns]

In [ ]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 49997 entries, 0 to 49999
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        49997 non-null  int64
 1   document  49997 non-null  object
 2   label     49997 non-null  int64
dtypes: int64(2), object(1)
memory usage: 1.5+ MB

In [ ]:
# re.sub: 대체
# re.sub(r'[^ㄱ-ㅣ가-힣]+'): 정규식 필터링 - 한글 제외한 나머지 문자 공백으로 처리
test_df['document'] = test_df['document'].apply(lambda x: re.sub(r'[^ㄱ-ㅣ가-힣]+', "", x))
test_df

            id                           document  label
0      6270596                                 굳ㅋ      1
1      9274899                                         0
2      8544678           뭐야이평점들은나쁘진않지만점짜리는더더욱아니잖아      0
3      6825595               지루하지는않은데완전막장임돈주고보기에는      0
4      6723715      만아니었어도별다섯개줬을텐데왜로나와서제심기를불편하게하죠      0
...        ...                                ...    ...
49995  4608761  오랜만에평점로긴했네ㅋㅋ킹왕짱쌈뽕한영화를만났습니다강렬하게육쾌함      1
49996  5308387     의지박약들이나하는거다탈영은일단주인공김대희닮았고이등병찐따      0
49997  9072549           그림도좋고완성도도높았지만보는내내불안하게만든다      0
49998  5802125     절대봐서는안될영화재미도없고기분만잡치고한세트장에서다해먹네      0
49999  6070594                           마무리는또왜이래      0

[49997 rows x 3 columns]

In [ ]:
# !pip install konlpy

Requirement already satisfied: konlpy in /usr/local/lib/python3.7/dist-packages (0.5.2)
Requirement already satisfied: lxml>=4.1.0 in /usr/local/lib/python3.7/dist-packages (from konlpy) (4.2.6)
Requirement already satisfied: beautifulsoup4==4.6.0 in /usr/local/lib/python3.7/dist-packages (from konlpy) (4.6.0)
Requirement already satisfied: JPype1>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from konlpy) (1.3.0)
Requirement already satisfied: numpy>=1.6 in /usr/local/lib/python3.7/dist-packages (from konlpy) (1.19.5)
Requirement already satisfied: tweepy>=3.7.0 in /usr/local/lib/python3.7/dist-packages (from konlpy) (3.10.0)
Requirement already satisfied: colorama in /usr/local/lib/python3.7/dist-packages (from konlpy) (0.4.4)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from JPype1>=0.7.0->konlpy) (3.10.0.2)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.7/dist-packages (from tweepy>=3.7.0->konlpy) (1.15.0)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from tweepy>=3.7.0->konlpy) (1.3.0)
Requirement already satisfied: requests[socks]>=2.11.1 in /usr/local/lib/python3.7/dist-packages (from tweepy>=3.7.0->konlpy) (2.23.0)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->tweepy>=3.7.0->konlpy) (3.1.1)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests[socks]>=2.11.1->tweepy>=3.7.0->konlpy) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests[socks]>=2.11.1->tweepy>=3.7.0->konlpy) (2021.10.8)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests[socks]>=2.11.1->tweepy>=3.7.0->konlpy) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests[socks]>=2.11.1->tweepy>=3.7.0->konlpy) (3.0.4)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /usr/local/lib/python3.7/dist-packages (from requests[socks]>=2.11.1->tweepy>=3.7.0->konlpy) (1.7.1)

In [ ]:
from konlpy.tag import Okt

In [ ]:
okt = Okt()

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [ ]:
tfidf = TfidfVectorizer(tokenizer=okt.morphs, ngram_range=(1, 2), min_df=3, max_df=0.9)
# tokenizer=okt.morphs : 
# ngram_range(1, 2) : 2개짜리까지 허용
# min_df=3 : 출현 빈도는 최소 3번 이상
# max_df=0.9 : 최대 90% 이하인 것만 사용

tfidf

TfidfVectorizer(max_df=0.9, min_df=3, ngram_range=(1, 2),
                tokenizer=<bound method Okt.morphs of <konlpy.tag._okt.Okt object at 0x7fb43b6afe90>>)

In [ ]:
tfidf.fit(train_df['document'])

TfidfVectorizer(max_df=0.9, min_df=3, ngram_range=(1, 2),
                tokenizer=<bound method Okt.morphs of <konlpy.tag._okt.Okt object at 0x7fb43b6afe90>>)

In [42]:
train_tfidf_df = tfidf.transform(train_df['document'])
train_tfidf_df

<149995x114701 sparse matrix of type '<class 'numpy.float64'>'
	with 2579334 stored elements in Compressed Sparse Row format>

In [46]:
# train data로 fit
# test data는 transform만

# 테스트데이터를 tfidf vectorize할 때는 train데이터로 fit한 후, transform시켜야 함.

In [47]:
test_tfidf_df = tfidf.transform(test_df['document'])
test_tfidf_df

<49997x114701 sparse matrix of type '<class 'numpy.float64'>'
	with 829481 stored elements in Compressed Sparse Row format>

# Logistic Regression

In [44]:
from sklearn.linear_model import LogisticRegression

SA_lr = LogisticRegression(random_state = 0)

In [45]:
SA_lr.fit(train_tfidf_df, train_df['label'])

LogisticRegression(random_state=0)

In [48]:
test_predict = SA_lr.predict(test_tfidf_df)

In [49]:
from sklearn.metrics import accuracy_score

print("감성 분석 정확도: ", round(accuracy_score(test_df['label'], test_predict), 3))

감성 분석 정확도:  0.849

In [51]:
st = "아아아아 기분 좋다~~~ 라고할뻔ㅋㅋ 아 기분 좋다가 말았어!! 오늘 하루 아주 좋아죽겠다!!"

In [52]:
st2 = re.sub(r'[^ ㄱ-ㅎ|가-힣]+', "", st)
st2

'아아아아 기분 좋다 라고할뻔ㅋㅋ 아 기분 좋다가 말았어 오늘 하루 아주 좋아죽겠다'

In [53]:
# input받은 str을 list로
st_tfidf_df = tfidf.transform([st2])
st_tfidf_df

<1x114701 sparse matrix of type '<class 'numpy.float64'>'
	with 20 stored elements in Compressed Sparse Row format>

In [55]:
st2_predict = SA_lr.predict(st_tfidf_df)
st2_predict

array([1])

In [56]:
st2_predict[0]

1

In [57]:
if (st2_predict == 0):
  print(st2, "=>> 부정 감성")
else:
  print(st2, "=>> 긍정 감성")

아아아아 기분 좋다 라고할뻔ㅋㅋ 아 기분 좋다가 말았어 오늘 하루 아주 좋아죽겠다 =>> 긍정 감성